---
- name: Install Wireguard package
  apt:
    cache_valid_time: 3600
    name: wireguard
    state: latest

- name: Ensure that Wireguard configuration directories exists
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0700
  loop:
    - /etc/wireguard
    - /etc/wireguard/keys
    - /etc/wiregurad/peers

- name: Generate Wireguard public and private keys
  shell:
    cmd: "if ! test -f /etc/wireguard/keys/local.privkey; then wg genkey | tee /etc/wireguard/keys/local.privkey | wg pubkey | tee /etc/wireguard/keys/local.pubkey; fi"
  notify: register public key
    register private key

- name: Create or update Wireguard interface configuration
  blockinfile:
    path: "/etc/wireguard/wg0.conf"
    marker: "{mark}"
    marker_begin: "# ANSIBLE MANAGED BLOCK BEGIN"
    marker_end: "# ANSIBLE MANAGED BLOCK END"
    create: yes
    block: |
      [Interface]
      Address = {{ internal_ip }}
      PrivateKey = {{ node_privkey }}
      PostUp= wg addconf /etc/wireguad/peers/*

- name: Create or update Wireguard master peer configuration
  blockinfile:
    path: "/etc/wireguard/peers/master.conf"
    marker: "{mark}"
    marker_begin: "# ANSIBLE MANAGED BLOCK BEGIN"
    marker_end: "# ANSIBLE MANAGED BLOCK END"
    create: yes
    block: |
      [Peer]
      PublicKey = {{ hostvars['wg_master']['node_pubkey'] }}
      Endpoint = {{ hostvars['wg_master']['ansible_host']  }}:{{ master_port }}
      AllowedIPs = {{ allowed_ips }}

- name: Enable Wireguard service
  service:
    name: wg-quick@wg0
    enabled: yes
    state: enabled
