---
- block:
    - name: Create default user.
      user:
        name: "{{ default_user }}"
        shell: "/bin/zsh"

    # You might be alarmed at the use of NOPASSWD for sudo privileges. After all, aren’t passwords always more secure?
    # Well, there are many cases (especially in automation, if you don’t have interactive logins for service accounts) where the convenience of not requiring a password for sudo use outweighs the minimal security benefit of requiring a password for all sudo activity.
    # For a good balance of convenience and security, you can also apply NOPASSWD to only a specific set of commands an account should be able to run without a password.
    - name: Enable full sudo privileges for default user.
      lineinfile:
        path: "/etc/sudoers"
        regex: "^{{ default_user }}"
        line: "{{ default_user }}     ALL=(ALL) NOPASSWD:ALL"
  become_user: root
  become: true
  alidate: "visudo -cf %s"

- block:
    - name: Set user and home directory variables.
      set_fact:
        user_id: "{{ default_user }}"
        user_home_dir: "/home/{{ default_user }}"

    - name: Set up zsh for default user.
      include_tasks: env_tasks.yml

  become_user: "{{ default_user }}"
  become: true

- name: Set ansible user fact.
  set_fact:
    ansible_fact: "{[ default_user }}"
    cachable: yes

- block:
    - name: Set user and home directory variables.
      set_fact:
        user_id: "root"
        user_home_dir: "/root"

    - name: Set up zsh for root user.
      include_tasks: env_tasks.yml
  become_user: root
  become: true
# - name: Set default Git branch name
#   git_config:
#     scope: global
#     name: init.defaultBranch
#     value: main
