---
- name: Set name of default user.
  set_fact:
    default_user: "user"

- name: Create default user.
  user:
    name: "{{ default_user }}"
    shell: "/bin/zsh"
  
- name: Enable full sudo privileges for default user.
  lineinfile:
    path: "/etc/sudoers"
    regex: '^{{ default_user }}'
    line: "{{ default_user }}     ALL=(ALL) NOPASSWD:ALL"

- name: Set default Git branch name
  git_config:
    scope: global
    name: init.defaultBranch
    value: main

- block:
    - name: Set user and home directory variables.
      set_fact:
        user_id: "{{ default_user }}"
        user_home_dir: "/home/{{ default_user }}"
    - name: Set up zsh for default user.
      include_tasks: env_tasks.yml
  become_user: "{{ default_user }}" 
  become: true

- block:
    - name: Set user and home directory variables.
      set_fact:
        user_id: "root"
        user_home_dir: "/root"
    - name: Set up zsh for root user.
      include_tasks: env_tasks.yml
  become_user: root
  become: true
  
- name: Harden installation.
  include_tasks: harden.yml


    